absl-py==1.4.0
accelerate==0.22.0
aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
anyio==3.7.1
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
auto-gptq @ https://github.com/PanQiWei/AutoGPTQ/releases/download/v0.4.2/auto_gptq-0.4.2+cu117-cp310-cp310-win_amd64.whl#sha256=7145db94f57db80d1d292880487870686079d1b83ef48d3043b9b01023301fa4
beautifulsoup4==4.12.2
bitsandbytes @ https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl#sha256=adacda9b2b65dcb1931b222dffd7a91f0b611b3410d5b51c37ef7b22654106e6
blis==0.7.11
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
cachetools==5.3.1
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==1.6.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
confection==0.1.4
contourpy==1.1.0
ctransformers @ https://github.com/jllllll/ctransformers-cuBLAS-wheels/releases/download/AVX2/ctransformers-0.2.25+cu117-py3-none-any.whl#sha256=e22c2c47640e30cbac4a779ad7624a47b89ed27d0daefa7b4cb79ea955424207
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.6.1
datasets==2.14.4
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl#sha256=d88c737eb7eb766f730f6a2dcb99dfcdb81623e1e0d89a9c638a2182ac19c52e
debugpy==1.8.0
decorator==5.1.1
dill==0.3.7
diskcache==5.6.3
dm-tree==0.1.8
docker-pycreds==0.4.0
drawnow==0.72.5
einops==0.6.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.1.3
executing==2.0.1
exllama @ https://github.com/jllllll/exllama/releases/download/0.0.14/exllama-0.0.14+cu117-cp310-cp310-win_amd64.whl#sha256=8367ec762b870ae0d37770d6fc7cb666faad7010b823c50ea945d0b918a8e5c2
Farama-Notifications==0.0.4
fastapi==0.95.2
fastjsonschema==2.19.1
ffmpy==0.3.1
filelock==3.12.3
flatbuffers==1.12
fonttools==4.42.1
frozendict==2.4.0
frozenlist==1.4.0
fsspec==2023.9.0
ftfy==6.1.3
future==0.18.3
gast==0.4.0
gin-config==0.5.0
gitdb==4.0.10
GitPython==3.1.34
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googledrivedownloader==0.4
gptq-for-llama @ https://github.com/jllllll/GPTQ-for-LLaMa-CUDA/releases/download/0.1.0/gptq_for_llama-0.1.0+cu117-cp310-cp310-win_amd64.whl#sha256=93e632ce0f29ac0b6ae84631b915df1b5d787fcd7dc961cd364edd9a8367b690
gradio==3.33.1
gradio_client==0.2.5
graphviz==0.20.1
greenlet==3.0.0
grpcio==1.57.0
gym==0.17.3
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
iniconfig==2.0.0
install==1.3.5
ipykernel==6.28.0
ipython==8.19.0
isodate==0.6.1
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.6.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-rl==0.4.2
keras-rl2==1.0.5
kiwisolver==1.4.5
langchain==0.0.306
langcodes==3.3.0
langsmith==0.0.41
libclang==16.0.6
linkify-it-py==2.0.2
llama-cpp-python @ https://github.com/abetlen/llama-cpp-python/releases/download/v0.1.83/llama_cpp_python-0.1.83-cp310-cp310-win_amd64.whl#sha256=d40f69ee0b140f5453f6ae4e3449ea08c637887870ddd127c2d20638dc275342
llama-cpp-python-cuda @ https://github.com/jllllll/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_cuda-0.1.83+cu117-cp310-cp310-win_amd64.whl#sha256=175f1c3f158a5663b39af3436c75bfcca9d94a445e25309bf8cd9567cf47ae4a
llama-cpp-python-ggml @ https://github.com/jllllll/llama-cpp-python-cuBLAS-wheels/releases/download/cpu/llama_cpp_python_ggml-0.1.78+cpuavx2-cp310-cp310-win_amd64.whl#sha256=6c0cb266a3c22d3a170efb2f19d6c63907efa82288d436e5127daf9ab54c6f9c
llama-cpp-python-ggml-cuda @ https://github.com/jllllll/llama-cpp-python-cuBLAS-wheels/releases/download/textgen-webui/llama_cpp_python_ggml_cuda-0.1.78+cu117-cp310-cp310-win_amd64.whl#sha256=04ca481d43a5b28c45959a6edad2126699461f99607417c7421625738901c112
lxml==5.0.0
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe @ file:///D:/bld/markupsafe_1695367528298/work
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
ml-dtypes==0.2.0
mpi4py==3.1.5
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict==6.0.4
multiprocess==0.70.15
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.7
nbformat==5.9.2
nest-asyncio==1.5.8
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
ninja==1.11.1
nltk==3.8.1
numexpr==2.8.7
numpy @ file:///D:/bld/numpy_1695291226974/work/dist/numpy-1.26.0-cp310-cp310-win_amd64.whl#sha256=f88d3606e1988d3dff3d5c6f7e665ab3286b1a6859982e79ee3200378b83ebae
oauthlib==3.2.2
openai==0.28.1
opt-einsum==3.3.0
optimum==1.12.0
orjson==3.9.5
packaging==23.1
pandas==2.1.0
parso==0.8.3
pathtools==0.1.2
peewee==3.17.0
peft==0.5.0
Pillow==10.0.0
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.3.0
portalocker==2.8.2
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==3.19.6
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.12
pydot==2.0.0
pydub==0.25.1
pygame==2.1.0
pyglet==1.5.0
Pygments==2.16.1
pyparsing==3.0.9
pyreadline3==3.4.1
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pytest==7.4.4
python-dateutil==2.8.2
python-louvain==0.16
python-multipart==0.0.6
python-resources==0.3
pytz==2023.3
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
rdflib==7.0.0
referencing==0.30.2
regex==2023.8.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
rich==13.7.0
rl-agents==0.1.1
rouge==1.0.1
rpds-py==0.10.0
rsa==4.9
safetensors==0.3.2
scikit-learn==1.3.2
scipy==1.11.2
seaborn==0.13.0
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==1.30.0
setproctitle==1.3.2
Shimmy==1.3.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.21
srsly==2.4.8
stable-baselines3==2.2.1
stack-data==0.6.3
starlette==0.27.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tenacity==8.2.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.3
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.23.0
termcolor==2.4.0
tf-agents==0.12.1
thinc==8.2.2
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torch-geometric==1.7.2
torchaudio==0.13.1+cu116
torchdata==0.6.1
torchtext==0.15.2
torchvision==0.14.1+cu116
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
transformers==4.32.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.26.16
uvicorn==0.23.2
wandb==0.15.9
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.3.7
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wrapt==1.14.1
xgboost==2.0.3
xxhash==3.3.0
yarl==1.9.2
yfinance==0.2.33
